:root,
dialog {
  @apply bg-bg font-Iosevka font-normal text-fg;
}

#root {
  @apply min-h-screen flex flex-col;
}

table {
  @apply table border-collapse box-border w-full;
}

body:has(dialog[open]) {
  overflow: hidden;
}

:root {
  font-size: 16px;
}

@media (width < var(--breakpoint-sm)) {
  :root {
    font-size: 12px;
  }
}

@media (width < var(--breakpoint-md)) {
  :root {
    font-size: 14px;
  }
}
