@import "tailwindcss";


.btn {
    @apply h-auto w-1/5 transition object-center gap-2 border border-solid p-1 rounded bg-gray-300;
}

.btn:hover {
    @apply transform scale-110 bg-blue-500 cursor-pointer;
}

.btn:active {
    @apply transform scale-110 bg-blue-500 cursor-pointer;
}

.btn:focus {
    @apply outline-none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}