@import "tailwindcss";

#root {
    background-color: #1d2021;
    font-style: italic ;
    font-weight: 600;
}

.btn {
    @apply h-10 w-1/8 flex text-center text-[#f6edc4] justify-center object-center
    gap-1 p-2 rounded-lg duration-200
    ;
}

.btn:hover {
    @apply bg-[#514a46] ease-in-out transform -translate-y-0;
}
