@import "tailwindcss";

#root {
    @apply bg-gray-800 font-normal;
}

@theme {
    --color-gray-800: #1d2021;
    --color-yellow-300: #f6edc4;
    --color-gray-200: #514a46;
    --color-yellow-100: #b9b49d;
    --color-emerald-50: #83a598;
    --color-cyan-200: #458588;

}

.btn {
    @apply hover:bg-gray-200 active:bg-yellow-100 h-10 w-fit p-2 flex text-center text-yellow-300 justify-center object-center
    gap-1 rounded-lg duration-200  ease-in-out transform active:duration-100;
}

.btn-secondary {
    @apply bg-cyan-200 hover:bg-emerald-50;
}

.border {
    @apply border border-yellow-300;
}

.write-section {
    @apply p-3 text-yellow-300 border border-yellow-300 rounded-lg focus:border-dashed focus:border-red-700 outline-none;
}

.write-section::-webkit-scrollbar {
    @apply w-0;

}
.write-section::-webkit-scrollbar-track {
   @apply bg-transparent;
}

